# Core ML Libraries
torch
torchvision
torchtext
transformers
accelerate
tensorflow
tensorflow-hub

# NLP Libraries
nltk
rouge-score
bert-score
evaluate
scikit-learn

# Utilities
tqdm
wandb
numpy
pandas